@import 'tailwindcss';

@import "tw-animate-css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {

    --primary-color: rgba(0, 104, 200, 1);
    --secondary-color: rgba(221, 40, 49, 1);
    --black: #000;
    --white: #fff;
    --yellow: #ffc904;

    --transition-regular: 0.3s;
    --transition-slow: 0.6s;

    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.logo {
    width: 100px;
    height: 65px;
}

/* Hero */

.bg-element {
    position: relative;
}

.bg-element:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    background-color: var(--yellow);
    filter: blur(250px);
}

.bg-element:before {
    content: '';
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 200px;
    background-color: var(--yellow);
    filter: blur(250px);
}

.hero-bg {
    height: 100vh;
    width: 100%;
    background-image: url('/resources/js/assets/hero-banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
}

.hero-image img {
    width: 100%;
    height: 100%;
}

.hero-content h1 {
    opacity: 0;
    animation: Anim-fade-bottom var(--transition-regular) 0.6s forwards linear;
}

.hero-content h5 {
    opacity: 0;
    animation: Anim-fade-bottom var(--transition-regular) 0.9s forwards linear;
}

.hero-content .hero-span {
    opacity: 0;
    animation: Anim-fade-bottom var(--transition-regular) 1.1s forwards linear;
}

.hero-content button {
    opacity: 0;
    animation: Anim-fade-bottom var(--transition-regular) 1.2s forwards linear;
}

.hero-image {
    opacity: 0;
    animation: Anim-fade-bottom var(--transition-regular) 1.5s forwards linear;
}

@keyframes Anim-fade-bottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* Hero MQ Section */

@media (max-width: 1399px) {
    .hero-content h1 {
        font-size: 6rem;
    }
}

@media (max-width: 1199px) {
    .middle-nav {
        flex-wrap: wrap;
    }

    .get-help {
        width: 100%;
        justify-content: start;
    }

    .nav-menu {
        width: 60%;
    }
}

@media (max-width: 991px) {
    .middle-nav {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
    }

    .product-search {
        width: 100%;
    }

    .hide {
        display: none !important;
    }

    .hero-content {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .hide {
        display: none !important;
    }
}

@media (max-width: 575px) {
    .hide {
        display: none !important;
    }

    .product-search select {
        width: 50%;
    }

    .nav-menu li a {
        font-size: 1rem;
    }

    .top-nav {
        flex-direction: column;
    }

    .top-nav {
        align-items: start;
        justify-content: start;
        text-align: start;
    }

    .top-nav ul {
        width: 100%;
        justify-content: start;
    }

    .top-nav ul {
        margin-top: 20px;
    }
}

/* Banner */

@media (max-width: 576px) {
    .banner-1 {
        background-size: 800%;
        background-repeat: no-repeat;
    }
}
